<head>
    <script>
    $(document).ready(function(){
       //$("#comment_textarea").val("ddddd"); 
        $("#edit_and_delete").hide();
        $("#edit_dish_err").hide();
        var reg = /^(\d*\.)?\d+$/; 
        $("#edit_dish_button").click(function(){
            $("#update_dish_modal").modal('show');
            //alert($("#dish_name_span").html());
            $("#edit_dish_anme_input").val( $("#dish_name_span").html());
            
            $("#edit_dish_anme_textarea").val( $("#dish_profile_span").html());
            $("#edit_dish_price").val( $("#dish_price_span").html());

        });
        
        $("#update_dish_button").click(function(){
            if($("#edit_dish_anme_input").val()==""){
					$("#edit_dish_err").html("菜品名字不能为空！").show();
					return false;
				}else if( $("#edit_dish_anme_textarea").val()=="" ){
					$("#edit_dish_err").html("菜品简介不能为空！").show();
					return false;
				}else if($("#edit_dish_price").val()=="" || !reg.test($("#edit_dish_price").val())){
					$("#edit_dish_err").html("输入的价格格式不正确！").show();
					return false;
				}else{
					$("#edit_dish_err").hide();
					alert("提交成功！")
					$("#edit_dish").submit();
				//	alert("adadad");
				}
        });
        
        $("#delete_confirm_button").click(function(){
            form = $("<form></form>");
            form.attr('action','/deletedish/'+$("#dishid").val());
            form.attr('method','POST');
            form.css('display','none');
            form.submit();
        })
        $("#delete_dish_button").click(function(){
            $("#delete_confirm_Modal").modal("show");
            
        });
        
        
        $("#update_close_modal").click(function(){
            $("#edit_dish_err").html("").hide();
        });
        $("#update_cancel_modal").click(function(){
            $("#edit_dish_err").html("").hide();
        });
        
        
        
         $.ajax({  
	    type: 'GET',   
	    url: "/getUser",  
	     data: {},
	     datatype: "json",
	     success: function(data){         //返回值结果是判断  
	     //alert(data);
        if(data != null && data['isadmin'] == true){
		    //alert(1)
		    $("#edit_and_delete").show();	
        }else{ 
            
		    $("#edit_and_delete").hide();
          } 
        }
      })
        
        $("#add_comment_button").click(function(){
            $("#comment_Modal").modal("show");
            $("#comment_err").hide();
        });
        
        $("#comment_submit_button").click(function(){
            comment_textarea = $("#comment_textarea").val(); 
            if(comment_textarea==""){
                $("#comment_err").html("亲，评论不能为空哦~").show();
            }else{
                $.ajax({
                    type: "POST",
                    url: "/addComment",
                    data : {dishid:$("#dishid").val(),rating:$("#add_rating").val(),comment:$("#comment_textarea").val()},
                    success: function(data){
                        if(data == 0){
                            $("#common_alert_modal_html").html("亲，请先登录再评论哦~");
                            $("#common_alert_modal").modal('show');
                        }else if(data == 1)
                        {
                            $("#common_alert_modal_html").html("对不起，添加评论失败...");
                            $("#common_alert_modal").modal('show');
                            
                        }else
                        {
                            window.location.reload();
                        }
                    }
                });
                
            }
            //ajax传值
            //window.location.reload();
        });
        
        $('.disabled_rating').rating({
              min: 0,
              max: 5,
              step: 1,
              showClear: false,
              showCaption:false,
              disabled:true,
              size : "xm"
           });
    $('#disabled_rating1').rating({  //整体评价
              min: 0,
              max: 5,
              step: 0.1,
              showClear: false,
              disabled:true,
              size : "xm"
           });
    $('.add_comment_rating').rating({
              min: 0,
              max: 5,
              step: 1,
              showClear: false,
              size : "sm"
           });
    });
    </script>
</head>
<div  class="row">
    <div class="col-md-12">
        <span class="input-group-addon" id="dish_anme_label">菜品信息：</span>
    </div>
</div>
<div class="media">
    <div  class = "media-left"  style="float:left;">
       <img class = "disp_dish_image" src = "/images/upload_dish_images/<%= @singleDish.picurl %>">
    </div>
    <div class = "media-body" style="margin-left:10%;width:700px;float:left;">
        <label clas = "label">菜品名称:</label>
        <span id = "dish_name_span"><%= @singleDish.dishname %></span>
        <hr>
        <label clas = "label">菜品简介:</label>
        <br>
        <span id = "dish_profile_span"><%= @singleDish.describtion %></span>
        <hr>
        <label clas = "label">菜品标签:</label>
        <div id="dish_tags" >
            <% @singledishtags = @singleDish.tags.split('#') %>
            <% @singledishtags.each do |tag| %>
            <li class="itemli item2" nstat="readyed|{da_src:cateBk.0}" data-name="全部" data-id="1">
              <img src = "/images/<%= tag %>.png"/>
              <span name = "tags" class = "<%= tag %>"><%= DishesController.dishtagsname[:"#{tag}"] %></span>
            </li>
            <% end %>
        </div>
        <br><br><hr>
        <label clas = "label">地点:</label>
        <%= @singleDish.dining %>食堂-<%= @singleDish.floor %>层
        <label clas = "label" style="margin-left:50px">价格:</label>
        <span id = "dish_price_span"><%= @singleDish.price%></span>元
        <div id = "edit_and_delete">
            <div class="col-md-4 btn-group row" role="group">
              <button type="button" class="btn btn-default" id="edit_dish_button">修改</button>
              <button type="button" class="btn btn-default" id="delete_dish_button">删除</button>
            </div>
        </div>
    </div>
</div>
<br>
<div  class="row">
    <div class="col-md-12">
        <span class="input-group-addon" id="dish_pinglun_label">菜品评价：</span>
    </div>
</div>
<div>
    <div  class="row">
        <div class="col-md-4">
             <label clas = "label" style="float:left">整体评价: </label>
            <div style="text-align:left;width:200px;float:left;margin-left:10px">
                <input id="disabled_rating1" value=<%= @singleDish.count==0?0:((@singleDish.score).to_f/(@singleDish.count).to_f).round(1)  %> type="number" ></input>
            </div>
        </div>
        <div class="col-md-1 col-md-offset-7">
            <button id = "add_comment_button" type="button" class="btn btn-success btn-sm">添加评论</button>
        </div>
    </div>
</div>
<div><hr></div>
<% @dishcomment.each do |singlecomm| %>
<div class="comment_div">
    <div class="row">
        <div class="col-md-2">
            <label id ="usernames"><%= singlecomm.username %></label>
        </div>
        <div class="col-md-2 col-md-offset-8">
            <label id ="createtimr"><%= singlecomm.createtime.strftime("%Y-%m-%d %H:%M:%S") %></label>
        </div>
    </div>
    <div>
         <input class="disabled_rating" value=<%= singlecomm.score %> type="number"></input>
    </div>
    <div>
        <%= singlecomm.content %>
    </div>
    <hr>
</div>
<%  end %>

<!-- add comment Modal -->
<div class="modal fade" id="comment_Modal" tabindex="-1" role="dialog" aria-labelledby="comment_Modal">
  <div class="modal-dialog" role="document">

  <form>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Welcome!</h4>
      </div>
      <div class="modal-body"> 
         <div id = 'comment_err' class="alert alert-danger" role="alert"></div>
            <input id = "add_rating" class="add_comment_rating" value="3" type="number"></input>
          <textarea id = "comment_textarea" type="text" class="form-control"  style="height : 100px ; resize: none"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id = "comment_submit_button">提交</button>
      </div>
    </div>
   </form>
  </div>
</div>


<!-- delete confirm-->
<div class="modal fade" id="delete_confirm_Modal" tabindex="-1" role="dialog" aria-labelledby="delete_confirm_Modal1">
  <div class="modal-dialog" role="document">

  <form>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"> 
        <h4>确认要删除吗？</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id = "delete_confirm_button" data-dismiss="modal">提交</button>
      </div>
    </div>
   </form>
  </div>
</div>

<!-- update dish Modal -->
<div class="modal fade" id="update_dish_modal" tabindex="-1" role="dialog" aria-labelledby="update_dish_modal1" >
  <div class="modal-dialog" role="document" style="width:1000px">


    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id = "update_close_modal">
        <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="update_dish_modal1">修改菜品</h4>
      </div>
      <div class="modal-body"> 

      <%=render :partial=>"dishes/updatedish"%>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id = "update_cancel_modal">取消</button>
        <button type="button" class="btn btn-primary" id = "update_dish_button" data-dismiss="modal">提交</button>
      </div>
    </div>

  </div>
</div>

<input id = "dishid" value = <%= @dishid %> style="display:none" />






