
<head>
<script>
  
  $(document).ready(function(){
      $('.dishes-all-star').rating({  //整体评价
              min: 0,
              max: 5,
              step: 0.1,
              showClear: false,
              showCaption:false,
              readonly: true,
              size : "xm"
      });
  })
</script>
</head>


<body>

<div>

  <!-- Nav tabs -->
  <h3>搜索结果</h3><hr>
  <div class="dish-content">
    <div id = "index_dish-list" class="row">
      <!-- unit -->
      <% @dishes.each do |item| %>
      <div class="col-sm-6 col-md-2">
        <div class="thumbnail">
          <a href="/dishdetails/<%=item.id%>">
            <img src="images/upload_dish_images/<%=item.picurl%>" style="width:150px;height:150px">
          </a>
          <div class="caption">
            <h4><%=item.dishname%></h4>
            <input class='disabled_rating dishes-all-star' type='number' value=<%= item.count==0?0 : ((item.score).to_f/(item.count).to_f).round(1)%>></input>
            <p><small>共<%=item.count%>人评价</small></p>
                <div><%= item.dining %>食堂-<%= item.floor %>层</div>
          </div>
        </div>
      </div>
      <% end %>
     </div>
  </div>

</div>
</body>